{{#if this.loadModel.isRunning}}
  Loading model...
{{else}}
  <button type="button" {{on 'click' this.classify}}>
    <img alt="blah" src="images/alex1.png" style="max-width:250px; max-height:200px;">
  </button>

  <button type="button" {{on 'click' this.classify}}>
    <img alt="blah" src="images/alex2.png" style="max-width:250px; max-height:200px;">
  </button>

  <button type="button" {{on 'click' this.classify}}>
    <img alt="blah" src="images/alex3.jpg" style="max-width:250px; max-height:200px;">
  </button>

  <button type="button" {{on 'click' this.classify}}>
    <img alt="blah" src="images/alex4.jpg" style="max-width:250px; max-height:200px;">
  </button>

  <button type="button" {{on 'click' this.classify}}>
    <img alt="blah" src="images/alex5.jpg" style="max-width:250px; max-height:200px;">
  </button>

  <ul>
    {{#each this.predictions as |prediction|}}
      <li>
        {{prediction.className}} - {{percentage prediction.probability decimals=2}}
      </li>
    {{/each}}
  </ul>
{{/if}}
