{{#if this.loadModel.isRunning}}
  Loading model...
{{else}}
  <div {{on 'click' this.positive}}>Positive</div>
  <div {{on 'click' this.negative}}>Negative</div>

  <Textarea
    @value={{this.text}}
    {{on 'keypress' this.updateText}}
    style="width: 100%; height:200px"/>

  Positivity:
  {{#if this.predict.isRunning}}
    ...
  {{else}}
    {{percentage this.score}}
  {{/if}}

{{/if}}
